<a href="https://colab.research.google.com/github/Satyamaadi/python/blob/master/Handling_dates_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Handling rolling data

In [1]:
import pandas as pd

In [3]:
df = pd.date_range('2-2-2021',periods=5,freq='M')

In [4]:
df

DatetimeIndex(['2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31',
               '2021-06-30'],
              dtype='datetime64[ns]', freq='M')

In [6]:
df = pd.DataFrame(index=df)

In [7]:
df

Empty DataFrame
Columns: []
Index: [2021-02-28 00:00:00, 2021-03-31 00:00:00, 2021-04-30 00:00:00, 2021-05-31 00:00:00, 2021-06-30 00:00:00]

In [8]:
df['stock_price'] = [1,2,3,4,5]

In [9]:
df

            stock_price
2021-02-28            1
2021-03-31            2
2021-04-30            3
2021-05-31            4
2021-06-30            5

In [10]:
df.rolling(window=2).mean()

            stock_price
2021-02-28          NaN
2021-03-31          1.5
2021-04-30          2.5
2021-05-31          3.5
2021-06-30          4.5

##Handling missing values

In [13]:
import numpy as np

In [15]:
df['sales'] = [2,3,np.nan,np.nan,4]

In [16]:
df

            stock_price  sales
2021-02-28            1    2.0
2021-03-31            2    3.0
2021-04-30            3    NaN
2021-05-31            4    NaN
2021-06-30            5    4.0

In [18]:
df.interpolate() #we can use ffill() or bfill() to fill in the missing values with last or first known values respectively

            stock_price     sales
2021-02-28            1  2.000000
2021-03-31            2  3.000000
2021-04-30            3  3.333333
2021-05-31            4  3.666667
2021-06-30            5  4.000000